NODE_ENV=development
PORT=5000

RPC_HOST=127.0.0.1(localhost)
RPC_PORT=<your RPC_PORT>
RPC_USER=<your RPC_USER>
RPC_PASSWORD=<your RPC_PASSWORD>

MULTICHAIN_CERT_STREAM_TXN=<Stream creation transaction's txn id>
